[Unit]
Description=KlipperLCD Service
After=moonraker.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/KlipperLCD
Restart=always
RestartSec=1
ExecStart=/usr/bin/env python3 /home/pi/KlipperLCD/main.py > /tmp/KlipperLCD.log 2>&1

[Install]
WantedBy=multi-user.target
