[Unit]
 Description=KlipperLCD Service
 After=moonraker.service

[Service]
 Type=simple
 User=pi
 Restart=always
 RestartSec=1
 WorkingDirectory=/home/pi/KlipperLCD
 ExecStart=/usr/bin/python3 /home/pi/KlipperLCD/main.py

[Install]
 WantedBy=multi-user.target


